# python build
__pycache__/
*.egg-info
dist/
build/

# results directory
results/
result-*/

# to test
testbed/
test*/

# memoe
_notes/

# data and log
*.jpg
*.png
*.log.*
*.log
nohup.out

# ctags
tags

# mlflow
mlruns/

# lightning ai
lighting-*/